* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  /* border-bottom: 3px solid red; */
  /* box-shadow: 10px 5px 5px yellow; */
}

.nav-title{
  color: rgb(30, 13, 126);
  font-weight: bold;
  padding: 10px;
}


.nav-link{
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  height: 100%;
  color: rgb(30, 13, 126);
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover{
  background-color: rgb(30, 13, 126);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  height: 100%;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 13, 126);
}

body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(245, 241, 237); */
  max-width: 700px;
}

hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 13, 126);
  width: 100%;
  color: white;
  height: 400px;
}

.hero-title{
  /* background-color: red; */
  padding: 30px 70px;
  border: 5px white solid ;
  font-weight: bold;
  font-size: 50px;
}
.hero-sub-title{
  /* color: red; */
}




about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(245, 241, 237);
  width: 100%;
  padding: 20px 0px;
}
about-text{
  width: 450px;
}

about-skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
  /* background-color: green; */
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  background-color: white;
  margin: 5px;
  padding: 10px;
  width: 90px;
  border-radius: 3px;
}

#skill-icon{
  font-size: 40px;
  color: grey;
}

projects{
/* background-color: aqua; */
}

.project-box{
  display: flex;
  flex-direction: row;
  margin: 40px 0px;

  /* background-color: cadetblue; */
}

name{
  font-weight: 700;
  color: rgb(30, 13, 126);
}

img{
  margin: 5px;
  width: 350px;
  height: 175px;
}

.project-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  width: 100%;
  /* background-color: lavender; */
  height: 40px;
}

.project-button{
  border: 1px solid rgb(30, 13, 126);
  color: rgb(30, 13, 126);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  transition: 0.3s;
}

.project-button:hover{
  background-color: rgb(30, 13, 126);
  color: white;
  text-decoration: none;
}

.project-box-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

about-me{
  height: 300px;
  background-color: palegoldenrod;
}

contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 241, 237);
  width: 100%;
  padding: 20px 0px;
}

contact-title{
  color:  rgb(30, 13, 126);
  font-weight: bold;
}
contact-text{
  width: 700px;

}

contact-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color:rgb(30, 13, 126);
  text-decoration: none;
  width: 100%;

}
.contact-link{
  padding: 0px 20px;
  text-decoration: none;
  transition: 0.3s;
}
.contact-link:hover{
  text-decoration: none;
  color:  rgb(30, 13, 126);
  /* background-color: white; */
}



footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:  rgb(30, 13, 126);
  height: 50px;
}

footer-text{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}


@media only screen and (max-width: 1000px) {
  about{
    align-items: center;
    flex-direction: column;
    font-size: 12px;
  }
  .skills{
    margin: 5px;
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    font-size: 10px;
  }
  
  #skill-icon{
    font-size: 20px;
    color: grey;
  }
}

@media only screen and (max-width: 800px) {
  .project-box{
    align-items: center;
    flex-direction: column;
}
contact-text{
  width: 350px;
}
}

@media only screen and (max-width: 600px) {
  .hero-title{
    font-size: 30px;
  }
  .hero-sub-title{
    font-size: 20px;
  }
  nav-bar{
    justify-content: center;
  }
  .nav-title{
    display: none;
  }
  about-text{
    width: 350px;
  }
  about-skills{
    width: 350px;

  }
}

@media only screen and (max-width: 400px) {
  .hero-title{
    font-size: 20px;
    padding: 20px 50px;
  }
  .hero-sub-title{
    font-size: 15px;
  }
  nav-bar{
    justify-content: center;
  }
  .nav-title{
    display: none;
  }
  about-text{
    width: 300px;
  }
  about-skills{
    width: 300px;
  }
  img{
    width: 300px;
  }
  .project-box-content{
    width: 300px;
  }
  contact-text{
    width: 300px;
  }

}

