.wrapper {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
}
/* .wrapper {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 100%;
  display: block;
} */

/* .wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 80%;
  height: 6px;
  border-radius: 999px;
  transition: background-color 0.2s linear;
} */
