.cta_1 {
  width: fit-content;
  padding: calc(var(--global-internal-block-padding) / 4)
    var(--global-inline-padding);
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 3px;
}
