.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: var(--global-internal-block-padding) var(--global-inline-padding);
  margin: auto;
}
