.footer {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  margin-bottom: 30px;
}

.footer_text {
  color: white;
  font-size: 0.8rem;
}

.air1,
.air2,
.air3,
.air4,
.air5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 1200px 200px;
  background-repeat: repeat-x;
}
.air1 {
  background-image: url("./wave1.svg");
  animation: wave 120s linear infinite;
  z-index: 1;
  opacity: 1;
}
.air2 {
  background-image: url("./wave2.svg");
  animation: wave 80s linear infinite;
  z-index: 2;
  opacity: 1;
}
.air3 {
  background-image: url("./wave3.svg");
  animation: wave 50s linear infinite;
  z-index: 2;
  opacity: 1;
}
.air4 {
  background-image: url("./wave4.svg");
  animation: wave 30s linear infinite;
  z-index: 2;
  opacity: 1;
}
.air5 {
  background-image: url("./wave5.svg");
  animation: wave 20s linear infinite;
  z-index: 2;
  opacity: 1;
}

@keyframes wave {
  0% {
    background-position-x: 1200px;
  }
  100% {
    background-position-x: 0px;
  }
}
